# Ignore development-specific files
.git
.vscode
.idea

# Ignore files not needed in production
Dockerfile.dev
Dockerfile
docker-compose.yml
docker-compose.yml.windows
README.md

# Ignore any other unnecessary files
*.log

example.env

